@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

:root{
    --warna-hijau:#f14e4eff;
    --warna-putih:#fff;
    --warna-biru:#0069a6;
    --warna-merah:#a61900;
    --warna-success:#017026;
}

/* html{
    overflow: scroll;
    height: 100%;
} */ 
body{
    text-decoration: none; /* no underline */
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}

header{
    height: 25vh;
    background-color: var(--warna-hijau);
    color:var(--warna-putih);
}

card-primary{
    background-color: var(--warna-hijau);
    color:var(--warna-putih);
}

.jam{
    border: var(--warna-putih);
    border-radius: 3px;
    background-color: var(--warna-putih);
    color:var(--warna-hijau);

}

.nip{
    margin-top: -4px;
}
a{
    text-decoration: none;
}

main{
    height: 40vh;
}

.logout button{
    color: var(--warna-putih);
    border-color: var(--warna-putih);
}

.btn-outline-success{
    color: var(--warna-hijau);
    border-color: var(--warna-hijau);
}

table.table-dark{
    
    --bs-table-bg: var(--warna-hijau) !important;
    --bs-table-accent-bg: var(--warna-hijau) !important;
    text-align: center;
}



table.table-bordered{
    border:1px solid var(--warna-putih);
    /* margin-top:20px; */
  }
table.table-bordered > thead > tr > th{
    border:1px solid var(--warna-putih);
}
table.table-bordered > tbody > tr > td{
    border:1px solid var(--warna-putih);
}


footer {
    margin-top: 2vh;
    /* padding-top: 2vh; */
    /* padding-bottom: 2vh; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--warna-putih);
    color: var(--warna-hijau);
    text-align: center;
  }
  footer a{
    color: var(--warna-hijau);
    text-decoration: none;
  }

  .wrapper{
    min-height: 100%;
    position: relative;
  }

  .spasi-bawah{
padding-bottom: 15vh;
  }

  .text-black{
    color:black;
  }

  .card-borderless{
    border:none !important;
    box-shadow: 1px 2px 30px rgba(0,0,0,.2);
    /* padding-top: 5vh;
    padding-bottom: 5vh; */
  }

  .text-red{
    color:var(--warna-merah);
  }

  .text-light{
    color:var(--warna-putih);
  }

  .text-bold{
    font-weight: 700;
  }
  .overlap{
    margin-top: -10vh;
  }

  .not-bold{
    font-weight: 300;
  }

  .card-header-center{
    text-align: center;
    justify-content: center;
  }

  .card-header-light{
    background-color: var(--warna-putih);
    /* color: var(--warna-hijau);
    font-weight: 400; */
  }

  .text-green{
    color:var(--warna-hijau)
  }

.card-red{
    background-color: var(--warna-success);
    
}
.btn-red{
    background-color: var(--warna-success);
    color: var(--warna-putih);
}

.card-blue{
    background-color: var(--warna-biru);
}
.btn-blue{
    background-color: var(--warna-biru);
    color: var(--warna-putih);
}
.btn-green{
    background-color: var(--warna-hijau);
    color: var(--warna-putih);
}
.accordion {
	--bs-accordion-btn-color: ghostwhite;
	--bs-accordion-btn-bg: var(--warna-hijau);
	--bs-accordion-active-color:var(--warna-putih);
	--bs-accordion-active-bg: var(--warna-biru);
}